[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"

[packages]
wagtail = "<2.11,>=2.10"
Django = "<3.2,>=3.1"
wagtail-markdown = "*"
wagtailfontawesome = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
